#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Name=SerialCom
Comment=Interface gráfica para comunicação serial
Exec=/usr/bin/serialcom
Icon=serialcom
Terminal=false
Categories=System;Utility;
